body {
    font-family: Arial, sans-serif;
}

#search-area {
    margin-bottom: 20px;
}

#book-list, #my-bookshelf {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.book-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.book-details {
    display: none;
}

.book-details {
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.error-message {
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
}
